  .hero-row{
    padding: 64px;

      .project-name{
        font-size: 72px;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      .links{
        margin-top: 64px;
        .link-wrapper{
        text-decoration: none;
        .cta{
          font-size: 16px;
        }
        }
      }
    }


  .half-columns{
    display: flex;
    margin-bottom: 80px;


    .first-column{
      flex:2; 
      margin-top:0;
     
    }

    .second-column{
      flex:2;
      font-size: 18px;
      line-height: 30px;

    }

  }
  .case-study{
    margin-right: 160px;
    margin-left: 160px;

    .title-column{
      font-size: 48px;
      color: $secondary-color ;
    }
}

.links{
  display: flex;
  gap: 16px;
}

.separator-light{
  border-top: 1px solid $light-grey;
  padding-top: 80px;

}